/* Mengatur box-sizing untuk semua elemen agar termasuk padding dan border dalam ukuran total elemen */
* {
  box-sizing: border-box;
}

/* Membuat clearfix untuk elemen dengan kelas row */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Mengatur padding dan float untuk elemen dengan kelas yang mengandung "col-" */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* Mengatur font keluarga untuk elemen html */
html {
  font-family: "Lucida Sans", sans-serif;
}

/* Gaya untuk elemen dengan kelas header */
.header {
  background-color: #23ff98; /* Warna latar belakang hijau muda */
  color: #ffffff; /* Warna teks putih */
  padding: 15px;
}

/* Menghapus margin dan padding default untuk daftar dalam elemen dengan kelas menu */
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Gaya untuk elemen li dalam elemen dengan kelas menu */
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #030607; /* Warna latar belakang hitam */
  color: #ffffff; /* Warna teks putih */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); /* Bayangan */
}

/* Mengubah warna latar belakang elemen li saat hover */
.menu li:hover {
  background-color: #23ff98; /* Warna latar belakang hijau muda */
}

/* Gaya untuk elemen dengan kelas aside */
.aside {
  background-color: #000000; /* Warna latar belakang hitam */
  padding: 15px;
  color: #ffffff; /* Warna teks putih */
  text-align: center; /* Teks rata tengah */
  font-size: 14px; /* Ukuran font */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); /* Bayangan */
}

/* Gaya untuk elemen dengan kelas footer */
.footer {
  background-color: #23ff98; /* Warna latar belakang hijau muda */
  color: #ffffff; /* Warna teks putih */
  text-align: center; /* Teks rata tengah */
  font-size: 12px; /* Ukuran font */
  padding: 15px;
}

/* Untuk ponsel: Atur elemen dengan kelas yang mengandung "col-" agar lebar 100% */
[class*="col-"] {
  width: 100%;
}

/* Untuk tablet: Atur lebar elemen dengan kelas yang mengandung "col-s-" */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Untuk desktop: Atur lebar elemen dengan kelas yang mengandung "col-" */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
